:root {
    --annotation-color: #006064;
}

.annotation path {
    stroke: var(--annotation-color);
    fill: none;
}

.annotation text,
.annotation .annotation-connector .connector-dot,
.annotation path.connector-arrow,
.annotation.callout.rect path.subject{
    fill: var(--annotation-color);
    font-size: 12px !important;
}

.annotation-note-title {
    font-weight: bold;
}

.annotation-note-bg {
    fill: rgba(0, 0, 0, 0);;
}

.annotation.callout.rect path.subject{
    fill-opacity: .1;
}

.annotation.badge path.subject-pointer, .annotation.badge path.subject {
    fill: var(--annotation-color);
    stroke-width: 3px;
    stroke-linecap: round;
}

.annotation.badge path.subject-ring {
    fill: white;
    stroke-width: 3px;
}

.annotation.badge .badge-text {
    fill: white;
    font-size: .7em;
}

/* Handling edit mode styles */
.editable .annotation-subject, .editable .annotation-note {
    cursor: move;
}

.annotation .annotation-subject path{
    fill: var(--annotation-color);
    fill-opacity: .1;
}

circle.handle {
    stroke-dasharray: 5;
    stroke: var(--annotation-color);
    fill: rgba(0, 0, 0, .2);
    cursor: pointer;

    stroke-opacity: .4;
}

.hidden {
    display: none;
}
