/* Custom Stylesheet */
/**
*/
body {
    color: #263238;
}

.title{
    background: rgba(0, 0, 0, .5);
    color: #faebd7;
    padding: 30px !important;
}

.central-question{
    font-family: 'Caveat', cursive;
    font-size: 40px !important;
}

.table-title {
    color: #00535b;
}

h4 {
    font-family: 'Copse', serif;
    color: #455a64;
}

.divider {
    margin-top: 60px;
    margin-bottom: 20px;
}

.conclusion{
    height: 250px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 16px;
}

.tree_legend{
    margin-top: 10px;
}

.conclusion-icon{
    height: 150px;
    overflow: hidden;
}

.reference{
    font-size: 12px !important;
}

.forest-background {
    background: url("../img/forest_background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #90a4ae;
    margin: 1em 0;
    padding: 0;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.main-text {
    font-size: 18px;
}

td {
    padding: 0;
}

tr {
    background-color: white;
    transition: background-color 0.5s ease;
}

.page-footer{
    font-size: 14px;
}

.highlight {
    background-color: yellow;
}

.no-padding {
    padding: 0;
}

#use-forest svg {
  width: 900px;
  height: 550px;
  border-style: solid;
  border-radius: 1px;
  border-color: #bdbdbd;
}
